{% load static %}
<!-- Favicons -->
<link href="#" rel="icon">
<link href="#" rel="apple-touch-icon">
<!-- Css Styles -->
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.min.css" %}" media="screen">
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/nice-select.css" %}" type="text/css">
{#<link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" type="text/css">#}
{#<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css">#}
<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
{#<link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">#}
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
