{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block meta_title %}{% block title %}افزودن برچسب{% endblock %}{% endblock %}
{% block content %}
    <div class="col-lg-10 mx-auto">
        <div class="card card-primary">
        <div class="card-header">
            <h3>افزودن برچسب</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row mx-4 my-4">
                <div class="form-group col-md-6 mb-0">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.slug|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.status|as_crispy_field }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">افزودن برچسب</button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}